<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-sm-6" style="width: 50%">
            <a class="navbar-brand" href="/">Faith Chikwekwe</a>
        </div>

        <div class="col-sm-6 ml-auto" style="width: 50%">
            <a class="navbar-brand text-right" href="#">Seven Seats</a>
            <a class="navbar-brand text-right" href="#">Another Game</a>
            <a class="navbar-brand text-right" href="#">Third Game</a>
        </div>
</nav>
