<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-sm-6" style="width: 50%">
            <a class="navbar-brand" href="/">Faith Chikwekwe</a>
        </div>

        <div class="col-sm-6 ml-auto collapse navbar-collapse" style="width: 50%">
            <ul>
                <a class="navbar-brand" href="#">Seven Seats</a>
            </ul>
            <ul>
                <a class="navbar-brand" href="#">Another Game</a>
            </ul>
            <ul>
                <a class="navbar-brand" href="#">Third Game</a>
            </ul>
            <ul>
                <a class="navbar-brand" href="#">Fourth Game</a>
            </ul>
            <!-- <ul>
                <a class="navbar-brand" href="#">Fifth Game</a>
            </ul> -->
        </div>
</nav>
