
<div class="container-fluid">
    <div class="col-sm-3">
        <!-- <h1>Hello</h1> -->
    </div>
    <div class="col-sm-6 text-center">
        <h1>This is just placeholder text to make sure that everything is wrapping properly</h1>
    </div>
    <div class="col-sm-3">
        <!-- <h1>Hello</h1> -->
    </div>
</div>
