
<div class="container-fluid">
    <div class="row" style="margin-bottom: 2rem">
        <div class="col-sm-3">
            <!-- <h1>Hello</h1> -->
        </div>
        <div class="col-sm-6 text-center">
            <h1>This is just placeholder text to make sure that everything is wrapping properly.</h1>
        </div>
        <div class="col-sm-3">
            <!-- <h1>Hello</h1> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="padding:50px">
            <img src="http://www.kensap.org/wp-content/uploads/empty-photo.jpg" class="img-fluid" alt="image placeholder" style="width: 100%">
        </div>
        <div class="col-sm-6" style="padding:50px">
            <h2>This is text to describe the game listed on the side here. It will act as a hook for this particular game.</h2>
        </div>

    </div>

</div>
